@using System.Globalization
@model IEnumerable<MiniFootball.Models.Result>

@{
    ViewBag.Title = "Games";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="page-header">
				<h1>
					Games
				</h1>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<ul class="list-unstyled">
				@foreach (var item in Model.Select(s => s.Date).OrderByDescending(o => o.Date).Distinct())
				{
					var resultId = Model.Where(w => w.Date == item).Select(s => s.Id).FirstOrDefault();
					var date = item.Date.ToString("d MMMM yyyy", CultureInfo.CreateSpecificCulture("ru-RU"));
					<li class="gameList">
						<div class="btn-group btn-group-xs">
							<button class="btn btn-warning" type="button" onclick="location.href='@Url.Action("Index", "GameStats", new { id = resultId })'">
								<em class="glyphicon glyphicon-list"></em> @Html.DisplayFor(d => date)
							</button>
						</div>
					</li>
				}
			</ul>
		</div>
	</div>
</div>