@model IEnumerable<MiniFootball.Models.Games>

@{
    ViewBag.Title = "Games";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="page-header">
				<h1>
					Games
				</h1>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<table class="table">
				<thead>
					<tr>
						<th>
							#
						</th>
						<th>
							@Html.DisplayNameFor(model => model.Date)
						</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model)
					{
						<tr>
							<td>
								@Html.DisplayFor(modelItem => item.GameId)
							</td>
							<td>
								@{
									var date = item.Date.ToString("d MMMM yyyy");
								}
								@Html.DisplayFor(d => date)
							</td>
							<td>
								<div class="btn-group btn-group-xs">
									<button class="btn btn-warning" type="button" onclick="location.href='@Url.Action("Index", "GameStats", new { id = item.GameId })'">
										<em class="glyphicon glyphicon-list"></em> Details
									</button>
								</div>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>