@model MiniFootball.ViewModels.GeneratorViewModel

@{
	ViewBag.Title = "Team generator";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="page-header">
				<h1>
					Team Generator
				</h1>
			</div>
		</div>
	</div>
	
	@using (Html.BeginForm())
	{
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						@for (var i = 0; i < Model.CheckedPlayers.Count; i++)
						{
							@Html.HiddenFor(model => model.CheckedPlayers[i].Id)
							@Html.HiddenFor(model => model.CheckedPlayers[i].Name)
							<label>
								@Html.CheckBoxFor(model => model.CheckedPlayers[i].IsChecked)
								@Html.DisplayFor(model => model.CheckedPlayers[i].Name)
							</label>
							<br />
						}

						<input type="submit" value="Generate" class="btn btn-success" />
					</div>
				</div>
			</div>
		</div>
	}

</div>
