@{
	ViewBag.Title = "Team generator";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="page-header">
				<h1>
					Team Generator
				</h1>
			</div>
		</div>
	</div>
	
	@using (Html.BeginForm())
	{
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<form role="form">
						<div class="form-group">
							<label for="playersId">Players Ids</label>
							<input type="text" class="form-control" id="playersId" name="playersId"/>
						</div>

						<input type="submit" value="Generate" class="btn btn-success" />
					</form>
				</div>
			</div>
		</div>
	}

</div>
