@{
	ViewBag.Title = "Pitch";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDD43k-Uq5bEz0ID-sEAHKYl31C1q95szU" type="text/javascript"></script>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="page-header">
				<h1>
					Our Pitch
				</h1>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<address>
				<strong>Где: </strong>Fitness House. Большая Разночинная ул., 25, Санкт-Петербург, <abbr title="Phone">Тел:</abbr> 8 (812) 610-06-06<br/>
				<strong>Когда: </strong>Каждый вторник с 21:00 до талого (~22:45)<br />
				<strong>Помещение: </strong>Физкультурный зал<br />
				<strong>Покрытие: </strong>Лакированный паркет<br/>
				<a href="https://join.skype.com/c8jAQHON5lGo"><img src="../../Content/images/skype_icon.svg" width="16" height="16"/> Наш чатик в скайпе</a><br/>
				<p class="italicFont">Ключ спрашивать в чатике или попросить пропустить на ресепшене.</p>
			</address>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div id="map_canvas" style="height: 600px;"></div>
		</div>
	</div>
</div>